:root{
    --primary-color: #7a0bc0;
    --primary-color-dark: #864879;
    --secondary-color: #C9DBB2;
    --secondary-color-dark: #AAC8A7;
    --third-color: #95F2D9;
    --third-color-dark: #1CFEBA;
    --four-color-: #8D98A7;
    --dark-color-: #171717;
}