
.row::after {
    content: "";
    clear: both;
    display: table;
}

html,
body {
    margin: 0 auto 0 auto !important;
    padding: 0 !important;
    background-color: #171717 !important;
    
}

main{
    width: 100%;
    height: auto;
    margin: 0 auto 0 auto !important;
    padding: 0;
    background-color: #171717;
}

.contaaner{
    width: 100%;
    background-color: #171717;
}