.containerIMGJuegos {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    transform: translate(0px, -250px);
}
    .imgMortal1 {
        width: 30%;
        height: 250px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../imgMortal/1006970.jpg);
    }

    .imgMortal2 {
        width: 30%;
        height: 250px;
        margin: 0 2%;
        padding: 0;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../imgMortal/1282812.jpg);
        
    }

    .imgMortal3 {
        width: 30%;
        height: 250px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../imgMortal/1289207.jpg);
    }
