:root{
    --primary-color: #67a962;
    --primary-color-dark: #C9DBB2;
    --secondary-color: #C9DBB2;
    --secondary-color-dark: #AAC8A7;
    --third-color: #95F2D9;
    --third-color-dark: #1CFEBA;
    --four-color-: #8D98A7;
}