#tabla {
    margin: 20px;
    display: block;
    width: calc(100% - 300px);
    box-sizing: border-box;
    bottom: 286px;
    left: 344px;
}

#tabla fieldset {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: 100%;

}

#tabla table,
th,
td {
    border: 1px solid black;


}